<template>
    
    <v-form ref="form" @submit.prevent="submitForm()">
        <v-toolbar dark color="success">
            <v-toolbar-title>Tambah Blog</v-toolbar-title>
        </v-toolbar>
        <v-text-field
        v-model="title"
        :counter="40"
        label="Judul Blog"
        name="title"
        ref="title"
        required
        ></v-text-field>

        <v-text-field
        v-model="description"
        label="Deskripsi"
        name="description"
        ref="description"
        required
        ></v-text-field>

        <v-checkbox
        label="Apakah data sudah benar?"
        required
        ></v-checkbox>

        <v-btn color="primary" class="mr-4"
        ><input type="submit" value="SUBMIT"
        /></v-btn>
    </v-form>
</template>

<script>
export default {
    data: () => ({
        title: "",
        description: "",
        blogs: [],
        apiDomain: "https://demo-api-vue.sanbercloud.com",
        }),

        methods: {
            clearForm: function () {
                    this.title = ''
                    this.description = ''
                },
            submitForm: function () {
                            let formData = new FormData()
                            formData.append('title', this.title)
                            formData.append('description', this.description)
                            formData.append('photo', this.photo)
                            const config = {
                                method: "post",
                                url: `${this.apoDomain}/api/v2/blog`,
                                data: formData
                            }
                            
                            this.axios(config)
                                .then((response) => {
                                    this.clearForm()
                                    alert(response.data.message)
                                })
                                .catch((error) => {
                                    console.log(error)
                                })
                    },
    },
};
</script>