<template>
    <v-card>
        <v-toolbar dark color="success">
            <v-toolbar-title>Register</v-toolbar-title>
        </v-toolbar>
        <v-divider></v-divider>
        <v-container fluid>
            <v-form ref="form">
                <v-text-field
                    v-model="email"
                    label="E-mail"
                    required
                    append-icon="mdi-email">
                </v-text-field>
                <v-text-field
                    v-model="user"
                    label="Username"
                    required
                    append-icon="mdi-account">
                </v-text-field>
                <v-text-field
                v-model="password"
                label="Password"
                append-icon="mdi-lock"
                >
                </v-text-field>
                <v-text-field
                v-model="password2"
                label="Confirm Password"
                append-icon="mdi-lock"
                >
                </v-text-field>
                <div class="text-xs-center">
                    <v-btn
                        color="success lighten-1"
                        @click="submit"
                    >
                    REGISTER
                    </v-btn>
                </div>
            </v-form>
        </v-container>


    </v-card>
</template>
<script>
export default {
    methods : {
        close(){
            this.$emit('closed',false)
        },
    }
}
</script>