<template>
    <v-card>
        <v-toolbar dark color="success">
        <v-btn icon @click.native="close">
            <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-toolbar-title>Tambah Blog</v-toolbar-title>
        </v-toolbar>
        <v-divider></v-divider>
        <v-container fluid>
        <v-form ref="form">
            <v-text-field
            v-model="title"
            label="Blog Title"
            required
            append-icon="mdi-format-title"
            >
            </v-text-field>
            <v-text-field v-model="description" label="Description"> </v-text-field>
            <div class="text-xs-center">
            <v-btn color="success lighten-1" @click="submit">
                Login
                <v-icon right dark>mdi-lock-open</v-icon>
            </v-btn>
            </div>
        </v-form>
        </v-container>
    </v-card>
</template>
<script>
export default {
    data(){
        return{
            title:'',
            description:'',
        }
    },
    methods: {
        close(){
            this.$emit('closed',false)
        }
    },
};
</script>
